/* ice.css - Tema Dr. Ice (Frío/Invernal) */
@import url("gears.css");

:root {
  --bg-color: #e0f7fa;
  --card-bg: rgba(255, 255, 255, 0.8); /* Efecto vidrio */
  --text-color: #006064;
  --accent-color: #00bcd4; /* Cyan */
  --highlight-color: #0097a7;
  --nav-bg: #00838f;
  --nav-text: #e0f7fa;
}

body {
  background: linear-gradient(to bottom, #b2ebf2, #ffffff);
  min-height: 100vh;
}

.scp-logo {
  filter: invert(15%) sepia(95%) saturate(1600%) hue-rotate(180deg)
    brightness(95%) contrast(100%); /* Azul */
}

.card,
.msgUser {
  backdrop-filter: blur(5px); /* Efecto de hielo empañado */
  border: 1px solid #b2ebf2;
  box-shadow: 0 4px 15px rgba(0, 188, 212, 0.2);
}

nav a:hover {
  color: #fff;
  text-shadow: 0 0 8px #fff; /* Brillo helado */
}
